<h2> Employee List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email ID</th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of employees">
    <td> {{emp.first_name}} </td>
    <td> {{emp.last_name}} </td>
    <td> {{emp.emailID}} </td>
    <td>
      <button (click)="updateEmployee(emp.id)" class="btn btn-info">Update</button>
      <button (click) = "deleteEmployee(emp.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
      <button (click) = "employeeDetails(emp.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
    </td>
  </tr>
  </tbody>
</table>
