<div class="col-md-8 offset-md-3">
<h3> Create Employee </h3>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-group">
    <label>First Name</label>
    <input id="first_name" type="text" class="form-control"
           [(ngModel)]="employee.first_name" formControlName="first_name" name="first_name"
           [ngClass]="{ 'is-invalid': form.get('first_name').touched && form.get('first_name').invalid }"/>
    <div class="invalid-feedback">
      <div>First Name is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" formControlName="last_name" id="last_name"
           [(ngModel)]="employee.last_name" name="last_name"
           [ngClass]="{ 'is-invalid': form.get('last_name').touched && form.get('last_name').invalid }"/>
    <div class="invalid-feedback">
      <div>Last Name is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Email Id</label>
    <input type="text" class="form-control" id="emailID" formControlName="emailID"
           [(ngModel)]="employee.emailID" name="emailID"
           [ngClass]="{ 'is-invalid': form.get('emailID').touched && form.get('emailID').invalid }"/>
    <div class="invalid-feedback">
      <div>Email ID is required.</div>
    </div>
  </div>

  <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>
